.section-title
	.section-title-cn
		.section-title-arrow-left
		.section-title-cn-text 月子会所
		.section-title-arrow-right
.clearfix
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 24小时1对1
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子的您获得尊贵舒心的服务，留下美好的回忆。
.service-item
	.service-item-img
		img(src = 'images/service-img-02.jpg')
	.service-item-content
		.service-item-title 台湾月子餐
		.service-item-text 台式月子餐三餐三点，营养与功效并施。采用阶段性食补：严禁产后大吃大喝。产后须按身体恢复的状况来进补，第一周以代谢、排毒为主，第二周以收缩骨盆及子宫为主，第三周才开始真正的进补。
.service-item
	.service-item-img
		img(src = 'images/service-img-03.jpg')
	.service-item-content
		.service-item-title 产后指导
		.service-item-text 健康顾问定期检测，全程跟踪服务孕期体征。健康顾问根据个体差异，定制个性化孕期调理方案。孕期私密沙龙，传授孕期保养技巧。开奶师赴医院，一对一进行通乳、乳房护理，传授哺乳技巧。

.service-item
	.service-item-img
		img(src = 'images/service-img-04.jpg')
	.service-item-content
		.service-item-title 会所环境
		.service-item-text 五星级独栋别墅，室内环境达到国家质量水准，配套设施齐全，周边环境优美，交通便捷。独立套房，进口美国核桃木定制起降床，进口产妇专用乳胶升降床垫，意大利婴儿床品。

.service-item
	.service-item-img
		img(src = 'images/service-img-05.jpg')
	.service-item-content
		.service-item-title 知名儿科大夫巡诊
		.service-item-text 儿科医生每天定时床前亲诊，跟进宝宝成长状态。毓璜顶妇产医生每周2次床前亲诊，观测体征。