.section-title
	.section-title-cn
		.section-title-arrow-left
		.section-title-cn-text 产后恢复
		.section-title-arrow-right
.clearfix
.service-item
	.service-item-img
		img(src = 'images/service-img-06.jpg')
	.service-item-content
		.service-item-title 产后熏蒸（热药汽雾熏蒸）
		.service-item-text 产后熏蒸（热药汽雾熏蒸）项目简介
.service-item
	.service-item-img
		img(src = 'images/service-img-07.jpg')
	.service-item-content
		.service-item-title 产后胸部护理
		.service-item-text 产后胸部护理包括乳腺疏通、增乳溢乳、停乳回乳等...简介
.service-item
	.service-item-img
		img(src = 'images/service-img-08.jpg')
	.service-item-content
		.service-item-title 产后体质调理
		.service-item-text 产后体质调理简介
.service-item
	.service-item-img
		img(src = 'images/service-img-09.jpg')
	.service-item-content
		.service-item-title 产后体型、体重管理
		.service-item-text 产后体型、体重管理简介