.section-title
	.section-title-cn
		.section-title-arrow-left
		.section-title-cn-text 月子会所
		.section-title-arrow-right
.clearfix
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 24小时1对1
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子的您获得尊贵舒心的服务，留下美好的回忆。
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 台湾月子餐
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子称为您的尊贵享受和美好回忆。
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 产后指导
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子称为您的尊贵享受和美好回忆。
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 会所环境
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子称为您的尊贵享受和美好回忆。
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 知名儿科大夫巡诊
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子称为您的尊贵享受和美好回忆。