.section-title
	.section-title-cn
		.section-title-arrow-left
		.section-title-cn-text 产后恢复
		.section-title-arrow-right
.clearfix
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 产后熏蒸
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子称为您的尊贵享受和美好回忆。
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 产后胸部护理
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子称为您的尊贵享受和美好回忆。
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 产后体质调理
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子称为您的尊贵享受和美好回忆。
.service-item
	.service-item-img
		img(src = 'images/service-img-01.jpg')
	.service-item-content
		.service-item-title 产后体型、体重管理
		.service-item-text 专业月嫂24小时全天守候，悉心呵护，让做月子称为您的尊贵享受和美好回忆。