.section-title
	.section-title-cn
		.section-title-arrow-left
		.section-title-cn-text 产后恢复
		.section-title-arrow-right
.clearfix
.service-item
	.service-item-img
		img(src = 'images/service-img-06.jpg')
	.service-item-content
		.service-item-title 产后熏蒸（热药汽雾熏蒸）
		.service-item-text 热药汽雾熏蒸：通过活络、全身器官，恢复体力，促进人体代谢、排毒功能，使内邪随汗液排出，改善产后湿寒等问题。
.service-item
	.service-item-img
		img(src = 'images/service-img-07.jpg')
	.service-item-content
		.service-item-title 产后胸部护理
		.service-item-text 产后是女性胸部保健的绝佳时机，只要护胸、健胸的方法有效，不仅可以维持乳房原貌，而且可以使乳房变得更加丰满、紧实。周德堂独特的产后女性乳房特护项目，以中医经络原理为基础，按照360完美胸型标准，通过调理-修护-再造三位一体的综合手段唤醒人体自身能量，刺激内分泌轴激活自体荷尔蒙，配合独创的胸部复合手法，附之以专业仪器、专业胸膜，达到迅速改善、长久保持、内外兼治的效果。
.service-item
	.service-item-img
		img(src = 'images/service-img-08.jpg')
	.service-item-content
		.service-item-title 产后体质调理
		.service-item-text 产后的您是喜冷，还是喜热？是易上火还是爱感冒？这是您的体质在起主要作用。周德堂对产后体质进行严谨的分型，制定个性化调理方案，改善产后代谢异常、毒素废物堆积、免疫力下降等各种状况。
.service-item
	.service-item-img
		img(src = 'images/service-img-09.jpg')
	.service-item-content
		.service-item-title 产后体型、体重管理
		.service-item-text 无论是成因还是解决方法，产后形体修复与一般性肥胖决然不同，我们致力于有效修复因孕产而破坏的身体平衡，建立属于新妈妈的人体代谢平衡机制，塑造新妈妈优雅性感的曲线，而不仅仅是脂肪的重量。