.section-about-us
	width auto
	height auto
	border-bottom 1px solid GRAY_E3
	padding COMMON_SPACE 0px
	position relative
	background-color #ffffff
	@media MOBILE
		padding COMMON_SPACE_MOBILE 0px
	.row-content
		overflow hidden
	.section-about-us-text
		margin-top 20px
		font-size 14px
		line-height 26px
		color GRAY_33
		text-align center
		@media MOBILE
			font-size 12px
			line-height 20px
			margin-top 8px
		p
			margin 0px
		.btn-seemore
			width 90px
			height 26px
			font-size 12px
			line-height 26px
			border 1px solid GRAY_E3
			color GRAY_33
			text-decoration none
			text-align center
			display block
			margin 0 auto
			margin-top 10px
			&:hover
				border-color OCEAN_BLUE
				color #ffffff
				background-color OCEAN_BLUE
.pic-area-pic
	width 100%
	height auto
	img
		width 100%
		height 100%
		float left