.section-about-us
	.row-container
		.row-content
			.row
				.col-1of1
					.col-content
						.section-title
							.section-title-cn
								.section-title-arrow-left
								.section-title-cn-text 关于我们
								.section-title-arrow-right
							.section-title-en ABOUT US
			.row
				.col-1of3
					.col-content
						.pic-area-pic
							img(src = 'images/aboutus-1.jpg')
				.col-1of3
					.col-content
						.pic-area-pic
							img(src = 'images/aboutus-2.jpg')
				.col-1of3
					.col-content
						.pic-area-pic
							img(src = 'images/aboutus-3.jpg')
	.row-container
		.row-content
			.row
				.col-1of1
					.col-content
						.section-about-us-text 
							p 周德堂，专注高品质女性孕前、孕中、产后全面精致一体化服务，帮助新时代女性完美完成从女人到健康、优雅、美丽新妈妈的华丽转身
							p 作为烟台市唯一有专业产后恢复团队的周德堂母婴护理会，位于莱山区黄海路67号。会所为独栋别墅，所有墙面都采用细腻硅藻泥。会所一层为产后恢复专业区，配有多种先进的产后检测仪器和恢复设备，专业顾问及理疗师团队根据检测结果为妈妈量身定制恢复方案，可满足妈妈从开奶到产后体型恢复、体质恢复、妊娠纹疤痕修复、骨盆修复等产后0—3年所有的恢复需求。
							a.btn-seemore(href = 'about_intro.html') 查看详细