.article-page
	.article-title 4月23日活动
		a.btn-article-return(href='about_events.html') 返回活动列表
	.article-content
		img(src = 'images/hdfc_00.jpg')
		img(src = 'images/hdfc_01.jpg')
		img(src = 'images/hdfc_02.jpg')
		img(src = 'images/hdfc_03.jpg')
		img(src = 'images/hdfc_04.jpg')
		img(src = 'images/hdfc_05.jpg')
		img(src = 'images/hdfc_06.jpg')
		img(src = 'images/hdfc_07.jpg')
		img(src = 'images/hdfc_08.jpg')
		img(src = 'images/hdfc_09.jpg')
		img(src = 'images/hdfc_10.jpg')
		img(src = 'images/hdfc_11.jpg')
