.article-page
	.article-title 公司简介
	.article-content
		img(src = 'images/article-img1.jpg')
		p 作为我市唯一有专业产后恢复团队的周德堂母婴护理会，位于莱山区黄海路67号（山东工商学院西侧）。会所为独栋别墅，所有墙面都采用细腻硅藻泥。会所一层为产后恢复专业区，配有多种先进的产后检测仪器和恢复设备，专业顾问及理疗师团队根据检测结果为妈妈量身定制恢复方案，可满足妈妈从开奶到产后体型恢复、体质恢复、妊娠纹疤痕修复、骨盆修复等产后0—3年所有的恢复需求。在会所内坐月子的会员在产后24—48小时即可享受到专业的产后恢复服务，最大程度解决产后涨奶、睡眠不好、乳腺不通等问题。
		img(src = 'images/article-img2.jpg')
		p 会所二楼三楼为月子护理区，定制的寝具最大程度保护妈妈的脊柱不受损伤，为特殊需求的妈妈专门定制了德国进口可升降乳胶床垫。每个房间配备了专用的宝宝洗澡车，最大程度的避免了交叉感染。这里不仅环境环保健康，而且有专业的医疗服务和保障。某三甲医院退休的儿科主任医师及妇产主任，定期为会所内妈妈和宝宝免费诊断，最大程度保障了母婴健康需求。会所采取管家式服务，专属月嫂24小时贴心贴身服务；新生儿潜能开发和启蒙训练；新生儿奶具、用具的清洗及消毒。产妇生活料理，协助产妇沐浴及卧房清理。协助产妇做产后保健操等。
