.article-page
	.article-title 活动风采
	.inner-content.inner-content-article
		.col-1of4.col-mobile-1of1
			.col-content
				a.img-item(href='about_eventinfo.html')
					img(src = 'images/hdfc_00.jpg')
					.img-title 4月23日活动名称
		.col-1of4.col-mobile-1of1
			.col-content
				a.img-item(href='about_eventinfo.html')
					img(src = 'images/hdfc_01.jpg')
					.img-title 5月4日活动名称
		.col-1of4.col-mobile-1of1
			.col-content
				a.img-item(href='about_eventinfo.html')
					img(src = 'images/hdfc_02.jpg')
					.img-title 5月31日活动名称
		.col-1of4.col-mobile-1of1
			.col-content
				a.img-item(href='about_eventinfo.html')
					img(src = 'images/hdfc_03.jpg')
					.img-title 6月1日活动名称
		.col-1of4.col-mobile-1of1
			.col-content
				a.img-item(href='about_eventinfo.html')
					img(src = 'images/hdfc_04.jpg')
					.img-title 6月25日活动名称
		.clearfix


