.article-page
	width 100%
	height auto
	overflow hidden
	background-color #ffffff
	background-image url('images/article-corner.png')
	background-repeat no-repeat
	background-position right bottom
	margin-bottom COMMON_SPACE*2
	@media MOBILE
		margin-bottom COMMON_SPACE_MOBILE*2
	.article-title
		width auto
		display block
		height 80px
		margin 0px 30px
		border-bottom 1px solid GRAY_E3
		line-height 80px
		font-size 30px
		text-align left
		color GRAY_33
	.article-content
		width auto
		display block
		margin 30px 30px 60px 30px
		font-size 14px
		color GRAY_33
		overflow hidden
		line-height 28px
		img
			max-width 100%
			height auto
		p
			text-indent 2em