.topbar
	width 100%
	height 84px
	background-color #ffffff
	.topbar-line
		width 100%
		height 4px
		background-color GRAY_E3
	.logo
		width 100px
		height 52px
		background-image url('images/logo.png')
		position absolute
		top 14px
		left 0px
	.menu
		width auto
		height 84px
		overflow hidden
		position absolute
		top -4px
		right 0px
		.menubtn
			float left
			width auto
			padding 0 30px
			line-height 80px
			font-size 14px
			color GRAY_66
			text-align center
			display block
			text-decoration none
			border-top 4px solid GRAY_E3
			transition(all 0.2s ease-in-out)
			&:hover
				background-color lighten(OCEAN_BLUE,20%)
				border-top 4px solid OCEAN_BLUE
				color #ffffff
			&.sel
				border-top 4px solid OCEAN_BLUE
				color OCEAN_BLUE
				&:hover
					border-top 4px solid OCEAN_BLUE
					color OCEAN_BLUE
					background-color transparent
					cursor default
		.menu-devider
			float left
			width 0px
			height 16px
			margin-top 36px
			display block
			border-left 1px dotted GRAY_E3

