doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description', content='Welcome')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		title 周德堂－联系我们
		include ../../components/link-style/index
		include ../../components/wx_pic/index
	body
		include ../../components/topbar/index_contact
		.section-block
			include ../../components/slider/index
		.row-container
			.row-content
				.row
					.col-1of1
						.col-content
							include ../../components/contact/index
		include ../../components/footer/index
