doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description', content='母婴护理 产后恢复 周德堂')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		title 周德堂
		include ../../components/link-style/index
		include ../../components/wx_pic/index
	body
		include ../../components/topbar/index
		include ../../components/slider/index
		.section-block
			include ../../components/section-1/index
		.section-block
			.section-title
				.section-title-cn
					.section-title-arrow-left
					.section-title-cn-text 服务项目
					.section-title-arrow-right
				.section-title-en SERVICES
			include ../../components/section-2/index
		.h-line
		.section-block
			.section-title
				.section-title-cn
					.section-title-arrow-left
					.section-title-cn-text 为何选择我们
					.section-title-arrow-right
				.section-title-en WHY CHOOSE US
			include ../../components/section-3/index
		include ../../components/footer/index
