doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description', content='Welcome')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		title Welcome
		link(rel='stylesheet', href='index.css')
	body
		include ../../components/topbar/index
		.section-block
			include ../../components/slider/index
		.section-block
			.section-title
				.section-title-cn
					.section-title-arrow-left
					.section-title-cn-text 关于我们
					.section-title-arrow-right
				.section-title-en about us
			include ../../components/section-1/index