doctype html
html
	head
		meta(charset='UTF-8')
		meta(name='description', content='Welcome')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		title Welcome
		link(rel='stylesheet', href='index.css')
	body
		h1 this is page.html