.contact-title
	width 100%
	font-size 18px
	color GRAY_33
	text-align left
	line-height 40px
.contact-address
	width 100%
	height auto
	line-height 28px
	font-size 12px
	text-align left
	color GRAY_66
.article-content.contact-fix
	margin-right 0px
.contact-info
	width 100%
	height auto
	border-top 1px solid GRAY_E3
	li
		border-bottom 1px solid GRAY_E3
		line-height 30px
		font-size 12px
		text-align left
		height auto
.contact-form-label
	width 100%
	height 20px
	font-size 12px
	color GRAY_66
	line-height 20px
	text-align left
.contact-form-input
	width auto
	display block
	border 1px solid GRAY_E3
	height auto
	overflow hidden
	background-color GRAY_F5
	input
		width 100%
		height auto
		line-height 24px
		font-size 12px
		color GRAY_33
		background-color transparent
		border none
		outline none
	textarea
		width 100%
		min-height 120px
		line-height 20px
		font-size 12px
		color GRAY_33
		background-color transparent
		border none
		outline none
		resize none
.contact-btn
	width 90px
	height 30px
	line-height 30px
	text-align center
	background-color OCEAN_BLUE
	font-size 12px
	color #ffffff
	display block
	margin-top 10px
	text-decoration none
	transition(all 0.2s ease-in-out)
	&:hover
		background-color lighten(OCEAN_BLUE, 20%)




