.contact-title
	width 100%
	font-size 18px
	color GRAY_33
	text-align left
	line-height 40px
	@media MOBILE
		font-size 15px
.contact-address
	width 100%
	height auto
	line-height 28px
	font-size 12px
	text-align left
	color GRAY_66
	@media MOBILE
		line-height 20px
.article-content.contact-fix
	margin-right 0px
.contact-info
	width 100%
	height auto
	border-top 1px solid GRAY_E3
	@media MOBILE
		border-top 1px dotted GRAY_E3
	li
		border-bottom 1px solid GRAY_E3
		line-height 30px
		font-size 12px
		text-align left
		height auto
		@media MOBILE
			border-bottom 1px dotted GRAY_E3
.contact-form-label
	width 100%
	height 20px
	font-size 12px
	color GRAY_66
	line-height 20px
	text-align left
.contact-form-input
	width auto
	display block
	border 1px solid GRAY_E3
	height auto
	overflow hidden
	background-color GRAY_F5
	input
		width 100%
		height auto
		line-height 24px
		font-size 12px
		color GRAY_33
		background-color transparent
		border none
		outline none
	textarea
		width 100%
		min-height 120px
		line-height 20px
		font-size 12px
		color GRAY_33
		background-color transparent
		border none
		outline none
		resize none
.contact-btn
	width 90px
	height 30px
	line-height 30px
	text-align center
	background-color OCEAN_BLUE
	font-size 12px
	color #ffffff
	display block
	margin-top 10px
	text-decoration none
	transition(all 0.2s ease-in-out)
	&:hover
		background-color lighten(OCEAN_BLUE, 20%)
	@media MOBILE
		width 100%
		height auto
		line-height 34px
		font-size 14px

.contact-line
	width auto
	display block
	height auto
	position relative
	padding-top 70px
	padding-bottom COMMON_SPACE
	margin-bottom COMMON_SPACE
	border-bottom 1px dotted GRAY_E3
	.contact-table
		width 100%
		height auto
		border none
		border-spacing 0px
		border-collapse collapse
		td
			width auto
			height 64px
			white-space normal
			text-align left
	.contact-text-1
		text-align center
		line-height 16px
		font-size 14px
		color GRAY_33
	.contact-text-2
		text-align center
		line-height 32px
		font-size 20px
		color GRAY_33
	.contact-icon
		position absolute
		width 64px
		height 64px
		left 50%
		margin-left -32px
		top 0
		background-position center center
		background-repeat no-repeat
		&.cicon-1
			background-image url('images/contact-line.png')
		&.cicon-2
			background-image url('images/contact-qq.png')
		&.cicon-3
			background-image url('images/contact-address.png')
.contact-qrcode-box
	width 100%
	height auto
	text-align center
	margin-bottom COMMON_SPACE*2
	img
		width auto
		max-width 100%
		height auto
		display inline-block
	.contact-qrcode-text
		width 100%
		line-height 32px
		text-align center
		font-size 15px
		color GRAY_33




