.article-page
	.article-title 联系我们
	.article-content.contact-fix
		.inner-container
			.inner-content
				.row
					.col-1of3 
						.col-content 
							.contact-title 地址：
							.contact-address 烟台市莱山区黄海路67号，电话：6291222
							.contact-address 芝罘区海港路26号阳光100B座1008室，电话：6291555
						.col-content 
							.contact-title 联系信息：
							ul.contact-info
								li 电话：4000458881
								li QQ：1489134389
								li 微信公众平台：ytmeilimama
								li 客服微信号：148914389

					.col-2of3
						.contact-title 联系我们：
						.inner-container
							.inner-content
								.row
									.col-1of3
										.col-content
											.contact-form-label 姓名*
											.contact-form-input
												input(type = 'text')
									.col-1of3
										.col-content
											.contact-form-label Email*
											.contact-form-input
												input(type = 'text')
									.col-1of3
										.col-content
											.contact-form-label 标题*
											.contact-form-input
												input(type = 'text')
									.col-1of1
										.col-content
											.contact-form-label 您的留言*
											.contact-form-input
												textarea
											a.contact-btn(href = '#')提交留言

