.article-page
	.article-title 联系我们
	.inner-content.inner-content-article
		.col-2of5.col-mobile-1of1
			.col-content
				.contact-line
					.contact-icon.cicon-1
					.contact-text-2 客服电话：400-045-8881
				.contact-line
					.contact-icon.cicon-2
					.contact-text-2 QQ号：1489134389
		.col-1of5.col-mobile-1of1
			.col-content
				.contact-qrcode-box
					img(src='images/qrcode.png')
					.contact-qrcode-text 扫一扫，加微信
		.col-2of5.col-mobile-1of1
			.col-content
				.contact-line
					.contact-icon.cicon-3
					.contact-text-1 烟台市莱山区黄海路67号
					.contact-text-1 电话：6291222
				.contact-line
					.contact-icon.cicon-3
					.contact-text-1 芝罘区海港路26号阳光100B座1008室
					.contact-text-1 电话：6291555
		.clearfix

