.row-container
	.row-content
		.row
			.col-1of4.col-mobile-1of2
				.col-content
					.wcu-pic
						img(src = 'images/section-3-1.png')
					.wcu-title 专业
					.wcu-content 我们采用最专业的装修环境和仪器设备，并聘请专业顾问及理疗师团队，根据检测结果为妈妈量身定制恢复方案
			.col-1of4.col-mobile-1of2
				.col-content
					.wcu-pic
						img(src = 'images/section-3-2.png')
					.wcu-title 贴心
					.wcu-content 会所采取管家式服务，专属月嫂24小时贴心贴身服务，新生儿潜能开发和启蒙训练，新生儿奶具、用具的清洗及消毒
			.col-1of4.col-mobile-1of2
				.col-content
					.wcu-pic
						img(src = 'images/section-3-3.png')
					.wcu-title 细致
					.wcu-content 定制的寝具最大程度保护妈妈的脊柱不受损伤，为特殊需求的妈妈专门定制了德国进口可升降乳胶床垫
			.col-1of4.col-mobile-1of2
				.col-content
					.wcu-pic
						img(src = 'images/section-3-4.png')
					.wcu-title 省心
					.wcu-content 聘请三甲医院退休的儿科主任医师及妇产主任，定期为会所内妈妈和宝宝免费诊断，最大程度保障了母婴健康需求