.wcu-pic
	width 146px
	height 146px
	margin 0 auto
	@media MOBILE
		width 70%
		height auto
	img 
		width 100%
		height auto
.wcu-title
	width 100%
	height auto
	line-height 40px
	font-size 24px
	color GRAY_33
	text-align center
	@media MOBILE
		line-height 30px
		font-size 18px
.wcu-content
	width 100%
	height auto
	font-size 14px
	line-height 24px
	color GRAY_66
	text-align center
	@media MOBILE
		font-size 12px
		line-height 18px
