.footer
	.site-links.mobile-hidden
		span —
		a(href = 'index.html') 网站首页
		span —
		a(href = 'about_intro.html') 关于我们
		span —
		a(href = 'services_1.html') 服务项目
		span —
		a(href = 'contact.html') 联系我们
		span —
	.copy-right Copyright ©2015 周德堂母婴护理会所 版权所有

script(src='js/jquery-1.11.2.min.js')
script(src='owl-carousel/owl.carousel.js')
script(src='js/app.js')

