.footer
	width 100%
	height auto
	background-color OCEAN_BLUE
	margin 0
	padding 0
	display block
	float left
	.site-links
		width 100%
		height 30px
		line-height 30px
		display block
		padding 30px 0px 10px 0px
		color #ffffff
		text-align center
		font-size 14px
		span 
			padding 0px 10px
			color lighten(OCEAN_BLUE, 40%)
		a
			padding 0px 10px
			text-decoration none
			color #ffffff
			&:hover
				text-decoration underline
	.copy-right
		width 100%
		line-height 30px
		padding-bottom COMMON_SPACE
		height 30px
		text-align center
		font-size 14px
		color #ffffff
		@media MOBILE
			padding COMMON_SPACE_MOBILE 0px
			line-height 20px
			height 20px
			font-size 12px
