.section-services
	.row-container
		.row-content
			.row
				.col-1of3.col-mobile-1of1
					.col-content
						a.service-block(href = 'services_1.html')
							.service-block-pic
								img(src = 'images/section-2-1.jpg')
								.service-block-title 月子会所
									.service-block-title-deco
							.service-block-text 这里没有全家人的手忙脚乱，这里没有虚不受补的大吃大喝。宝宝健康成长，妈妈安心休养，0岁的宝宝和妈妈，在这里都会得到无与伦比的精心呵护
				.col-1of3.col-mobile-1of1
					.col-content
						a.service-block(href = 'services_2.html')
							.service-block-pic
								img(src = 'images/section-2-2.jpg')
								.service-block-title 产后恢复
									.service-block-title-deco
							.service-block-text 0岁的宝宝,也是您成为0岁妈妈新生的开始。周德堂采用安全无添加产品和国际尖端科技，为您定制个性化的产后恢复解决方案
				.col-1of3.col-mobile-1of1
					.col-content
						a.service-block(href = 'services_3.html')
							.service-block-pic
								img(src = 'images/section-2-3.jpg')
								.service-block-title 月嫂中介
									.service-block-title-deco
							.service-block-text 专业月嫂中介，为您提供更多选择，无忧退换月嫂。提供专业月嫂培训认证服务，三甲级医院妇产科顶级医护人员亲临授课，CETTIC月嫂职业技能培训
