.owl-carousel.owl-theme#mainCarousel
	.item
		img.mobile-hidden(src = 'images/slider_1.jpg')
		img.mobile-visible(src = 'images/slider_1_m.jpg')
	.item
		img.mobile-hidden(src = 'images/slider_2.jpg')
		img.mobile-visible(src = 'images/slider_2_m.jpg')
	.item
		img.mobile-hidden(src = 'images/slider_3.jpg')
		img.mobile-visible(src = 'images/slider_3_m.jpg')
	.item
		img.mobile-hidden(src = 'images/slider_4.jpg')
		img.mobile-visible(src = 'images/slider_4_m.jpg')
