.slider-area
	width 100%
	height 380px
	display block
	overflow hidden
	background-image url('images/slider_1.jpg')
	background-position center center
.slider-area-mobile
	width 100%
	height auto
	display none
	overflow hidden
	@media MOBILE
		display block
	img
		width 100%
		height auto
		float left
